body {
    background-color: #282b30;
}

h1 {
    text-align: center;
    color: #7289da;
}

.icon_circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 50%;
}

.home {
    padding-top: 10%;
    padding-bottom: 10%;
}
